<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.hardware.vulkan.level"
        android:version="0"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.vulkan.version"
        android:version="0x00402000"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="ParallelMater Vulkan Smoke"
        android:supportsRtl="true" />
</manifest>
